<div class="container">
  <form class="addOrderForm" (ngSubmit)="onSubmit()">
    <mat-form-field class="full-width">
      <input 
        matInput
        placeholder="Mesa"
        name="table"
        [(ngModel)]="order.table">
    </mat-form-field>

    <mat-form-field class="full-width">
      <input
        matInput
        placeholder="Cantidad"
        type="number"
        name="amount"
        [(ngModel)]="plate.amount">
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-select 
        placeholder="Plato" 
        name="plate"
        [(ngModel)]="plate.name">
        <ng-container *ngFor="let plate of plates">
          <mat-option *ngIf="plate.available" [value]="plate.name">
            {{plate.name}}
          </mat-option>
        </ng-container>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="full-width">
      <textarea
        matInput
        placeholder="Descripción"
        name="description"
        [(ngModel)]="plate.description">
      </textarea>
    </mat-form-field>

    <button mat-raised-button color="warn" type="submit">Agregar</button>
  </form>
</div>

<div class="container">
  <mat-list class="full-width">
    <mat-list-item *ngFor="let plate of order.plates">
      <h3 mat-line class="text-center">{{plate.amount}} {{plate.name}}</h3>
      <p mat-line *ngFor="let des of plate.description | tobr">{{ des }}</p>
    </mat-list-item>
  </mat-list>
</div>