.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 15px;
}

.addOrder{
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 25px;
}

app-order-detail{
  width: 95%;
  max-width: 450px;
  margin-top: 15px;
}

@media (min-width: 900px) {
  app-order-detail{
    margin-left: 15px;
  }
  .container{
    padding-right: 15px;
  }
}