<mat-toolbar color="warn">
  <span>Rinconcito del Sabor</span>
  <button mat-icon-button [matMenuTriggerFor]="menu" *ngIf="user">
    <mat-icon>menu</mat-icon>
  </button>

  <mat-menu #menu="matMenu">
    <mat-list role="list" *ngIf="user">
      <mat-list-item role="listitem">
        <i class="material-icons">account_box</i> {{user ? user.email : ''}}</mat-list-item>
    </mat-list>
    <button mat-menu-item (click)="ruta = '/admin'" *ngIf="user && user.rol == 'admin'">
      <span>Admin</span>
    </button>
    <button mat-menu-item (click)="ruta = '/order/list'">
      <span>{{text[languaje].activeOrdes}}</span>
    </button>
    <button mat-menu-item (click)="ruta = '/order/all'">
      <span>{{text[languaje].allOrders}}</span>
    </button>
    <button mat-menu-item (click)="ruta = '/localizanos'">
      <span>{{text[languaje].findUs}}</span>
    </button>
    <button mat-menu-item (click)="logout()">
      <span>{{text[languaje].singOff}}</span>
    </button>
  </mat-menu>
</mat-toolbar>
<app-order-list *ngIf="ruta === '/order/list'" [languaje]="languaje"></app-order-list>
<app-order-all *ngIf="ruta === '/order/all'" [languaje]="languaje"></app-order-all>
<app-create-order *ngIf="ruta === '/order'" [orderId]="id" [languaje]="languaje"></app-create-order>
<app-login *ngIf="ruta === '/login'"  [languaje]="languaje"></app-login>
<app-register *ngIf="ruta === '/register'" [languaje]="languaje"></app-register>
<app-admin *ngIf="ruta === '/admin'" [languaje]="languaje"></app-admin>
<app-localizanos *ngIf="ruta === '/localizanos'"></app-localizanos>

<mat-toolbar color="warn">
  <button mat-button color="primary" (click)="openDialog()">{{text[languaje].languaje}}: {{languaje}}</button>
</mat-toolbar>