<div class="container">
  <form class="addOrderForm" (ngSubmit)="onSubmit()">
    <mat-form-field class="full-width">
      <input matInput [placeholder]="text[languaje].u" type="text" name="email" [(ngModel)]="email" required>
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput [placeholder]="text[languaje].c" type="password" name="password" [(ngModel)]="password" required>
    </mat-form-field>
    <button mat-raised-button color="warn" type="submit">{{text[languaje].i}}</button>
    <button mat-raised-button color="warn" type="button" (click)="rute('/register')">{{text[languaje].r}}</button>
  </form>
</div>